/* General Styles */
body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #5e5e5e; /* Black background */
    color: #000000; /* Neon green text */
    line-height: 1.6;
    overflow: auto;
}
body h1, h2{
    color: #d92500;
}

.projects, .certifications, .contact {
    max-width: 1600px; /* Match main-content width */
    margin: auto; /* Center content */
    padding: 20px;
}

.main-content {
    max-width: 1650px; /* Increase max width */
    margin: auto; /* Center content */
    display: flex;
    align-items: top;
    justify-content: space-between;
    gap: 50px; /* Add more space between elements */
    padding: 20px;
}

.intro {
    flex: 1.5; /* Increase its width relative to the animation */
    max-width: 100%; /* Ensure it takes more space */
    padding: 20px; /* Increase padding */
    /* Ensure border is visible */
}

.intro h1 {
    font-size: 36px;
    margin-right: 50px;
    padding-right: 100px;
}

.intro p {
    font-size: 18px;
    margin-right: 50px;
    color: #000000; /* Lighter green for paragraph text */
}

.social-links {
    margin-top: 15px;
    
}

.social-links a {
    color: #0077b5; /* LinkedIn Blue */
    margin-right: 15px;
    transition: 0.3s;
}

.about-btn {
    background-color: #d92500;
    color: #000; /* Black text */
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.about-btn:hover {
    background-color: #f7baa7; /* Lighter green for hover */
}

/* Lottie Animation */
dotlottie-player {

    align-self: right;
    width: 500px; /* Increase width */
    height: 400px;
    margin-left: 50px; /* Push it further right */
}


/* Navigation Bar */
.navbar {
    background-color: #d92500;
    color: #000000;
    padding: 10px;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.navbar ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Main Content */
.about-me-main-content {
    margin-left: 0;
    margin-top: 30px;
    padding: 10px 20px;
}

.about-me-main-content h1 {
    font-size: 36px;
    color: #000000;
}

/* Contact Section */
.contact a {
    color: #000000; 
}

.contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 40px;
    color: #000000;
}
