/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5e5e5e; /* Black background */
    color: #000000; /* Neon green text */
    line-height: 1.6;
    overflow: auto;
}

.main-content {
    max-width: 1200px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align the content to the right */
    gap: 10px;
    padding-left: 200px;
    padding-top: 20px;
}

.intro {
    max-width: 900px;
    margin-left: auto;
}

.intro h1 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-right: 50px;
    padding-right: 100px;
    color: #d92500; /* Hacker green for the title */
}

.intro p {
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 50px;
    color: #000000; /* Lighter green for paragraph text */
}

.about-btn {
    background-color: #d92500;
    color: #000; /* Black text */
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.about-btn:hover {
    background-color: #f7baa7; /* Lighter green for hover */
}

/* Lottie Animation */
dotlottie-player {
    flex-shrink: 0;
    width: 600px;
    height: 600px;
    margin-left: 20px; /* Give a little space to the left */
    letter-spacing: 200px;
}


/* Navigation Bar */
.navbar {
    background-color: #5e5e5e; /* Dark navbar background */
    color: #000000; /* Neon green text for navbar */
    padding: 10px;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #000000; /* Neon green text for links */
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.navbar ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Main Content */
.about-me-main-content {
    margin-left: 0; /* Removed margin to accommodate for no left panel */
    padding: 10px 20px;  /* Adjusted for navbar */
}

.about-me-main-content h1 {
    font-size: 36px;
    color: #000000; /* Neon green title text */
}

/* Contact Section */
.contact a {
    color: #000000; /* Neon green text for links */
}

.contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 40px;
    color: #000000; /* Neon green text for footer */
}
